body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
  }
  
header a:link {
    color: #c0c0c0
  }

header a:visited {
    color: white;
  }
  
header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }

header li {
}
  
header a {
  display: flex;
  flex-wrap:nowrap;
  color: white;
  text-align: center;
  padding: 10px;
  margin-inline: 20px;
  text-decoration: none;
  height: 32px;
}

.social {
  vertical-align: center;
  height: 16px;
}

.catBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.catQuote {
  color:#c0c0c0;
  font-size: 50px;
  background-color: #272626;
}

.dogBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.animation1 {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.image2 {
  display:flex;
  width: 50%;
}

.image3 {
  display:flex;
  width: 33.33%;
}

.image4 {
  display:flex;
  width: 25%;
}

.image6 {
  display:flex;
  width: 16.67%;
}

.imagescroll {
  height: 200px;
}

.flexContainer2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.flexContainer3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.flexContainer4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.flexContainer6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.scrollContainer {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

footer {
  background-color: #333;
    display: flex;
    justify-content: center;
    color: rgb(145, 145, 145);
    margin-bottom: 10px;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
  
  .flexContainer2 {
    flex-direction: column;
    align-items: center;
  }
  
  .flexContainer3 {
    flex-direction: column;
    align-items: center;
  }

  .flexContainer6 {
    flex-wrap: wrap;
  }

  .flexContainer4 {
    flex-wrap: wrap;
  }

  .image2 {
    width: 100%;
  }

  .image3 {
    width: 100%;
  }
  
  .image4 {
    width: 50%;
  }

  .image6 {
    width: 50%;
  }
}