body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 0.6rem;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  header a:link {
    color: white
  }

  header a:visited {
    color: white;
  }
  
  nav ul {
    color: white;
    margin: 0;
  }
  
  nav li {
    color: white;
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }

  .carousel {
    text-align: center;
    display: flex;
    align-items: baseline;
    max-height: 50px;
}

footer {
  background-color: #333;
  padding: 0.6rem;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  color: white;
}

footer a:link {
  color: white
}

footer a:visited {
  color: white;
}
