body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
  }
  
header {
    background-color: #333;
    padding: 0.6rem;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
header a:link {
    color: white
  }

header a:visited {
    color: white;
  }
  
nav ul {
    color: white;
    margin: 0;

  }
  
nav li {
    color: white;
    display: inline;
    margin-right: 20px;
  }
  
nav a {
    text-decoration: none;
    color: white;
  }

.insta {

}

.carousel {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.animation1 {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  height: 150px;
  width:100%;
}

.missionStatement {
  color:#c0c0c0;
  font-size: 50px;
  background-color: #272626;
}

footer {
  background-color: #333;
  padding: 0.6rem;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  color: white;
}

footer a:link {
  color: white
}

footer a:visited {
  color: white;
}
