* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #272626;
    width: 100%;
}

/* Navbar styles */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    margin: 0 30px;
}

.nav img {
    height: 32px;
}

/* Portrait page layout */
.portrait-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    min-height: 100vh;
}

/* Portrait container (for images) */
.portrait-container {
    position: relative;
    width: 80vw;
    max-width: 600px;
    height: 80vw;
    max-height: 600px;
    margin-bottom: 1%;
}

.portrait-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Control button layout (3x2 grid) */
.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    width: 25vw;
    max-width: 600px;
    margin-top: 1%;
    z-index: 1;
}

/* Control buttons styling */
.control-button {
    width: 100%;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .controls {
        width: 55vw; /* Increase width of controls on smaller screens */
    }

    .control-button {
        height: auto; /* Adjust height based on content */
    }
}

@media (max-width: 500px) {
    .portrait-container {
        width: 90vw;
        height: 90vw;
    }

    .controls {
        width: 60vw; /* Ensure controls scale better on small screens */
    }

    .control-button {
        height: auto;
    }
}