* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #272626;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7%;
    padding: 1%;
  }

  .nav img {
    height: 32px;
  }
  
.social {
  vertical-align: center;
  height: 16px;
}

.catBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
  margin-bottom: 5px;
}

.catBanner img {
  width:100%;
}

.catQuote {
  color:#c0c0c0;
  font-size: 50px;
  background-color: #272626;
}

.dogBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width: 100%;
}

.animation1 {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width: 100%;
}

.flexContainer2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  color:#c0c0c0;
  font-size: 50px;
  text-indent: 10%;
  background-color: #272626;
}

.image2 {
  display:flex;
  padding: .5% .5%;
  width: 50%;
}

.flexContainer66 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  color:#c0c0c0;
  font-size: 50px;
  text-indent: 10%;
  background-color: #272626;
}

.image66 {
  display:flex;
  padding: .5% .5%;
  width: 66.6%;
}

.image33 {
  display:flex;
  padding: .5% .5%;
  width: 33.3%;
}

.flexContainer3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image3 {
  display:flex;
  padding: .5% .5%;
  width: 33.33%;
}

.flexContainer4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image4 {
  display:flex;
  padding: .5% .5%;
  width: 25%;
}

.flexContainer6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image6 {
  display: flex;
  padding: .5% .5%;
  width: 16.625%;
}

footer {
  
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
  
  .flexContainer2 {
    flex-direction: column;
    align-items: center;
  }

  .image2 {
    width: 100%;
  }
  
  .flexContainer3 {
    flex-direction: column;
    align-items: center;
  }

  .image3 {
    width: 100%;
  }
  
  .flexContainer4 {
    flex-direction: column;
    align-items: center;
  }

  .image4 {
    width: 100%
  }

  .flexContainer6 {
    flex-direction: column;
    align-items: center;
  }

  .image6 {
    width: 100%
  }

  
  .flexContainer66 {
    flex-direction: column;
    align-items: center;
  }

  .image66 {
    width: 100%
  }

  .image33 {
    width:100%
  }
}