body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #272626;
  }
  
header a:link {
    color: #c0c0c0
  }

header a:visited {
    color: white;
  }

  header {
    background-color: #272626;
  }

  header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-left: 30px;
  }

  header a {
    display: flex;
    flex-direction: row;
    height: 32px;
  }
  
/* header ul {
  display: flex;
  background-color: #333;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

header li {
  justify-content: center;
}
  
header a {
  display: flex;
  flex-wrap:nowrap;
  color: white;
  padding: 10px;
  margin-inline: 20px;
  height: 32px;
} */

footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    color: rgb(145, 145, 145);
    margin-bottom: 10px;
}

.social {
  vertical-align: center;
  height: 16px;
}

.catBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
  margin-bottom: 5px;
}

.catBanner img {
  width:100%;
}

.catQuote {
  color:#c0c0c0;
  font-size: 50px;
  background-color: #272626;
}

.dogBanner {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.animation1 {
  display:flex;
  overflow: hidden;
  margin: auto;
  align-items: center;
  width:100%;
}

.flexContainer2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  color:#c0c0c0;
  font-size: 50px;
  text-indent: 10%;
  background-color: #272626;
}

.image2 {
  display:flex;
  border-top: 5px solid #272626;
  border-bottom: 5px solid #272626;
  border-left: 5px solid #272626;
  border-right: 5px solid #272626; 
  width: 50%;
}

.flexContainer3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image3 {
  display:flex;
  border-top: 5px solid #272626;
  border-bottom: 5px solid #272626;
  border-left: 5px solid #272626;
  border-right: 5px solid #272626;
  width: 33.33%;
}

.flexContainer4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image4 {
  display:flex;
  border-top: 5px solid #272626;
  border-bottom: 5px solid #272626;
  border-left: 5px solid #272626;
  border-right: 5px solid #272626;
  width: 25%;
}

.flexContainer6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.image6 {
  display:flex;
  border-top: 5px solid #272626;
  border-bottom: 5px solid #272626;
  border-left: 5px solid #272626;
  border-right: 5px solid #272626;
  width: 16.67%;
}

.imagescroll {
  height: 200px;
}

.scrollContainer {
  background-color: #272626;
  overflow: auto;
  white-space: nowrap;
}

footer {
  background-color: #333;
    display: flex;
    justify-content: center;
    color: rgb(145, 145, 145);
    margin-bottom: 10px;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
  
  .flexContainer2 {
    flex-direction: column;
    align-items: center;
  }
  
  .flexContainer3 {
    flex-direction: column;
    align-items: center;
  }

  .flexContainer6 {
    flex-wrap: wrap;
  }

  .flexContainer4 {
    flex-wrap: wrap;
  }

  .image2 {
    width: 100%;
  }

  .image3 {
    width: 100%;
  }
  
  .image4 {
    width: 50%;
  }

  .image6 {
    width: 50%;
  }
}